<style>
    * {
        margin: auto;
    }
</style>
<div style="margin:auto; margin-top: 5%;" class="container">
    <div class="columns is-centered" style="padding: 5px; ">
        <div class="box column is-two-fifths" style=" border: 2px solid gray; padding: 3%;margin:1%;">
            <h1 class="title has-text-centered">Random Password Generator</h1>

            <div class="field">
                <label>Length: </label>
                <input class="input" type="number" (input)="onLengthChange($event)" />
            </div>

            <div style="margin-top: 5%;" class="field">
                <div class="control">
                    <label class="checkbox">
            <input (change)="onUseLettersChange()" type="checkbox" />
            Use Letters
          </label>
                </div>
            </div>
            <div style="margin-top: 5%;" class="field">
                <div class="control">
                    <label class="checkbox">
            <input (change)="onUseDigitsChange()" type="checkbox" />
            Use Digits
          </label>
                </div>
            </div>
            <div style="margin-top: 5%;" class="field">
                <div class="control">
                    <label class="checkbox">
            <input (change)="onUseSymbolsChange()" type="checkbox" />
            Use Symbols
          </label>
                </div>
            </div>
            <div style="margin-top: 5%;" class="field">
                <div class="control">
                    <label class="checkbox">
            <input (change)="onUseShadySymbolsChange()" type="checkbox" />
            Use Shady Symbols
          </label>
                </div>
            </div>
            <button style="margin-top: 5%; margin-bottom: 10%;" [disabled]="
          !length || (!includeLetters && !includeDigits && !includeSymbols && !includeShadySymbols)
        " (click)="onGenerateButtonClick()" class="button is-link is-fullwidth">
        Generate!
      </button>

            <div class="box" *ngIf="password">
                <label>Random Password is: </label>
                <br>
                <!-- <input placeholder="{-{password}-}" value={{password}} /> -->
                <input disabled="true" class="input" [placeholder]="password" [value]="password" style="width: 100%; word-wrap: text-wrap;" />
                <!-- <input placeholder="[value]=getPassword()" [value]="getPassword()" /> -->
            </div>

        </div>
    </div>
</div>